h1 {
    margin-top: 120px;
    color: red;
    font-size: 45px;
}

body {
    background: rgb(235, 194, 235);
}

#b1,
#b2,
#b3,
#b4,
#b5,
#b6,
#b7,
#b8,
#b9 {
    width: 80px;
    height: 52px;
    margin: auto;
    border: 1px solid grey;
    border-radius: 6px;
    font-size: 30px;
    text-align: center;
    background-color: red;
}

#but {
    box-sizing: border-box;
    width: 95px;
    height: 40px;
    border: 1px solid dodgerblue;
    margin: auto;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: red;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#print {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: dodgerblue;
    font-size: 20px;
}

#main {
    text-align: center;
}